{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block accounts_base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Desk - Reset Password</title>
</head>
<body>

    <div class="login-container d-flex align-item-center justify-content-center">
        <div class="login-form text-center">
            <form class="login-form text-center" method="POST" action="">
                {% csrf_token %}

                <h1 class="mb-5 font-weight-light text-uppercase">Reset Password</h1>
                <p style="text-align: justify; padding-bottom: 20px;">
                    Enter your registered email address below, and we will send you instructions to reset your password.
                </p>

                <div class="form-group">
                    {% render_field form.email class="form-control rounded-pill form-control-lg" placeholder="Registered Email" %}
                </div>

                <button class="btn btn-primary btn-block rounded-pill form-control-lg">Submit</button>
                <p class="mt-3 font-weight-normal">Go back to login page? <a href="{% url 'user_login' %}">Login</a></p>
                
            </form>
        </div>
    </div>
  
</body>
</html>
{% endblock %}


