{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block accounts_base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Desk - Reset Complete</title>
</head>
<body>
    <div style="padding: 20px;">
        <h1 class="mb-5 font-weight-light text-uppercase">Password Reset Complete</h1>
        <p style="text-align: justify;">
            Password has been reset successfully. Please login with your new password.
        </p>
    </div>
    
    <a href="{% url 'user_login' %}">
        <button type="button" class="btn btn-primary btn-block rounded-pill form-control-lg" style="width: 150px; margin-left: 20px;">
            Log in
        </button>
    </a>


</body>
</html>
{% endblock %}


