{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block accounts_base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Desk - Reset Mail Sent</title>
</head>
<body>
    <div style="padding: 20px;">
        <h1 class="mb-5 font-weight-light text-uppercase">Password reset sent</h1>
        <p style="text-align: justify;">
            Please check your email account. We have emailed you instructions to set up your new password.
        </p>
    
        <p style="text-align: justify;">
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </p>
    </div>
  
</body>
</html>
{% endblock %}


