{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block accounts_base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Desk - Set Password</title>
</head>
<body>

    <div class="login-container d-flex align-item-center justify-content-center">
        <div class="login-form text-center">
           
            {% if form %}
            <form class="login-form text-center" method="POST" action="">
                {% csrf_token %}

                <h1 class="mb-5 font-weight-light text-uppercase">Set New Password</h1>
                <p style="text-align: center; padding-bottom: 20px;">Enter new password and confirm it.</p>

                <div class="form-group">
                    {% render_field form.new_password1 class="form-control rounded-pill form-control-lg" placeholder="New Password" %}
                </div>
                
                <div class="form-group">
                    {% render_field form.new_password2 class="form-control rounded-pill form-control-lg" placeholder="Confirm New Password" %}
                </div>

                <button class="btn btn-primary btn-block rounded-pill form-control-lg">Submit</button>                
            </form>
            {% else %}
                <p style="text-align: center; padding-bottom: 20px;">
                    The form for password reset is expired. Probably the password has already been set.
                    Request for a password reset again if you want.
                </p>
                <a href="{% url 'expense:index' %}"><button type="button" class="btn btn-primary btn-block rounded-pill form-control-lg">Go Back</button></a>
            {% endif %}

        </div>
    </div>
  
</body>
</html>
{% endblock %}


