.header-fixed {
    margin: auto;
    width: 75%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}


.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th,
.header-fixed > tfoot > tr > th {
    width: 20%;
    float: left;
}



.header-fixed > thead > tr > th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: center;
}

